# GitHub Actions Configuration for integrated testing using pytest
name: Test dbdicom

on: [push]

jobs:
  build:

    strategy:
      matrix:
         os: [windows-latest, macos-latest, ubuntu-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          architecture: x64

      - name: Install dbdicom
        run: |
          pip install --upgrade pip
          pip install -e .

      - name: Install test requirements
        run: |
          pip install -r tests/requirements.txt

      - name: Test with pytest
        run: |
          pytest --junitxml=junit/test-results.xml --cov=dbdicom tests/

      - name: Upload coverage to Codecov
        if: runner.os == 'Windows'
        uses: codecov/codecov-action@v3
